<%= image_tag @post_attachment.picture %>
<%= form_for(@post_attachment) do |f| %>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit "Save File" %>
  </div>
<% end %>
