<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col">
    <h2 class="mdl-typography--display-2 mdl-typography--font-thin">Log in</h2>
    <div class="description">
      <p>If you are a member, you can log in using the Twitter / Facebook / Google+ button you used when registering.<br>
         You can also login from the registered user name and mail address.
      </p>
      <p>If you are not a registered member, please make a new registration with the account you have from the following Twitter / Facebook / Google+ button.<br>If you do not have a social account, click here
        <%= link_to "Signup", new_user_registration_path %>please use.
      </p>
    </div>
    <div id="sign">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
          <h3>Log in with your email address</h3>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <%= f.email_field :email, class: "mdl-textfield__input" %>
              <%= f.label :email, class: "mdl-textfield__label" %>
            </div>
            <!-- <p>メールアドレスは半角英数及び-_.を使い3～15文字以内</p> -->

          <!-- Numeric Textfield with Floating Label -->

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <%= f.password_field :password, autocomplete: "off", class: "mdl-textfield__input" %>
              <%= f.label :password, class: "mdl-textfield__label" %>
            </div>

            <% if devise_mapping.rememberable? -%>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
            </div>
            <% end -%>
            <!-- <p>
              <a href="">パスワードを忘れた方はパスワード再設定へ</a>
            </p>
            <p>
              <a href="">新規登録の認証メールが届かないかたはこちら</a>
            </p> -->
            <%= f.submit "Log in", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
        <div class="mdl-cell mdl-cell--6-col sign_in_up">
          <%= render "devise/shared/sns_sign" %>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>
</div>